.bg-container {
  padding: 15px;
  background-color: #1f1f2f;
  height: auto;
}

.heading {
  color: white;
  font-family: 'Bree Serif';
}

@media screen and (min-width: 768px) {
  .bg-container {
    padding: 30px;
  }
}
